
{cover_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}},{i, "test"}]}.

{sub_dirs,["rel"]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},
    {'statsderl', ".*", {git, "git://github.com/lpgauth/statsderl.git", {tag, "v0.3.5"}}}
]}.
